@use '../base/vars.scss' as *;

.nav-container {
    width: 100%;
    background: $background-dark-light;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 7px;
    border-bottom: 1px solid $text-light;
    border-top: 1px solid $text-light;

    @media (min-width: $tablet-portrait-up) {

    }
}

.nav-links {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.nav-link {
    color: $text-white;
    margin: 0;
    padding: 0;
    cursor: pointer;
    padding: 0 0 0 2px;
    transition: all .5s ease-in-out;
    font-size: 16px;
    text-wrap: nowrap;

    &:hover {
        color: white;
        transition: all .5s ease-in-out;
    }

    span {
        font-size: 11px;
        margin: 0 0 0 5px;
        opacity: .8;
    }
}

.nav-link__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nav-link__svg {
    width: 35px;
    height: 35px;
    display: flex;
    padding-top: 3px;

    svg {
        fill: $text-white;
        width: 100%;
    }
}

.nav-link__open {
    color: white;
}


// FILTERS

.nav-select__list-svg {
    width: 28px;
    height: 28px;
    margin-top: 4px;
    position: absolute;
    opacity: 1;
    transition: opacity .5s ease-in-out;
    cursor: pointer;

     svg {
        width: 100%;
        fill: $text-white;
     }

     &:hover {
        svg {
            fill: white;
        }
     }
}

.nav-select__list-svg--hide {
    opacity: 0;
}

.nav-filter-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 7px 0 0;
}

.nav-filters {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateX(120%);
    transition: transform .7s ease-in-out;
    margin-top: 5px;
    position: absolute;
}

.nav-filters__open {
    transform: translateX(0);
}

.filter-item {
    font-size: 14px;
    color: $text-light;
    margin: 0;
    padding: 0;
    transition: all .5s ease-in-out;

    &:hover {
       color: $text-white; 
    }
}

.filter-item__on {
    color: white;
}

.nav-filter {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    cursor: pointer;
}

.nav-filter__svg {
    width: 20px;
    height: 20px;
    
    svg {
        width: 100%;
        fill: $text-light;
    }
}

.nav-filter__svg--oldest {
    transform: rotate(180deg);
}

.nav-filter__line {
    width: 40%;
    height: 1px;
    background: $text-light;
    margin: 5px 0;
}

// CITY SELECT STYLES

.nav-select-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.nav-select__header--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: $background-color;
    border-radius: 3px;
    transition: all .5s ease-in-out;
    padding: 0 0 0 4px;

    &:hover {
        background-color: #333;
    }
}

.nav-select__header--containe-open {
    background-color: #333;
}

.nav-select__header {
    font-size: 16px;
    color: $text-white;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.nav-select__header--svg {
    width: 20px;
    height: 20px;
    padding: 0 0 0 4px;

    svg {
        width: 100%;
        fill: $text-light;
    }
}

.nav-select__arrow {
    width: 20px;
    height: 20px;
    transform: rotate(90deg);
    transition: transform .5s ease-in-out;

    svg {
        width: 100%;
        fill: $text-light;
    }
}

.nav-select__arrow--open {
    transform: rotate(270deg);
}

.nav-city-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    position: absolute;
    margin-top: 110px;
    z-index: 999;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    right: 5px;
}

.nav-city-list__open {
    max-height: 1000px;
    transition: max-height .7s ease-in-out;
}

.nav-city__title {
    display: flex;
    flex-direction: row;
    background: #333;
    padding: 2px 3px;
    margin: 1px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;

    h1 {
        font-size: 15px;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        color: $text-light;
        text-wrap: nowrap;
        padding-right: 3px;
        transition: all .4s ease-in-out;

        &:hover {
            color: $text-white;
        }

        span {
            font-size: 11px;
            text-transform: lowercase;
        }
    }

    img {
        height: 12px;
    }
}
