.not-found__container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #555;
}

.not-found__sky {
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 2;
    background-image: url('/images/night-sky.jpg');
    background-repeat: repeat;
    filter: opacity(80%);
}

.not-found__globe {
    width: 100vw;
    height: 100vw;
    animation-name: tiltedSpin;
    animation-duration: 49s; 
    animation-timing-function: linear; 
    animation-iteration-count: infinite;
    position: absolute;
    left: -30vw;
    top: -30vw;
    position: absolute;
    z-index: 101;

    svg {
        width: 100%;
    }
}

.loading-globe-water {
    fill: #1e3a5f;
}

.loading-globe-land {
    fill: #2d4a3e;
}


@keyframes tiltedSpin {
  from {
    transform: skew(2deg) rotate(0deg);
  }
  to {
    transform: skew(2deg) rotate(360deg);
  }
}

.not-found__text {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items:flex-end;
    z-index: 201;
    font-family: sans-serif;
    color: white;
    width: 90%;
    padding: 0 5%;
    position: absolute;
    bottom: 5%;
    right: 5%;

    h1 {
        text-align: right;
    }

    h2 {
        text-align: right;
    }

    p {
        text-align: left;
        font-size: 14px;
        font-weight: 300;
        max-width: 300px;
    }

    a {
        text-align: right;

        &:hover {
            text-decoration: underline;
        }
    }
}